<p id="notice"><%= notice %></p>

<p>
  <strong>Product Overview:</strong>
  <%= @product.name %>
</p>

 <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
